<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">
      <img src="assets/krenter-logo.png" alt="Krenter Logo" class="logo">
    </a>
  </div>
  <div class="navbar-links">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/properties">Properties</a></li>
      <li><a routerLink="/my-properties">My Properties</a></li>
      <li><a routerLink="/my-rentals">My Rentals</a></li>
      <li><a routerLink="/add-property">Add Property</a></li>
      <li><a routerLink="/my-profile">Profile</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ul>
  </div>
</nav>
